.screenshots {
	width: 100%;
	position: relative;
	background: lighten(#ccccff, 4%);
}

.screenshots-head {
	padding: 2rem 0 1rem 0;
	@include Dosis(500, 2rem);
	text-align: center;
}

.screenshots-text {
	@include Roboto(300, 0.7rem);
	@include centro(50%, 50%);
	text-align: center;
}

.slider {
	position: relative;
	height: 600px;
	@include centro(90%, 1200px);
}

.slide-6 {
	-webkit-transform: translateX(150%);
	-ms-transform: translateX(150%);
	transform: translateX(150%);
	@include sizer(175px, 280px, 60px);
	z-index: 1;
}

.slide-5 {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	@include sizer(200px, 320px, 40px);
	z-index: 2;
}

.slide-4 {
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
	@include sizer(225px, 403px, 20px);
	z-index: 3;
}

.slide-3 {
	left: 50%;
	-webkit-transform: translateX(-25%);
	-ms-transform: translateX(-25%);
	transform: translateX(-25%);
	@include sizer(250px, 443px, 0);
	z-index: 4;
}

.slide-2 {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	@include sizer(225px, 403px, 20px);
	z-index: 3;
}

.slide-1 {
	-webkit-transform: translateX(-150%);
	-ms-transform: translateX(-150%);
	transform: translateX(-150%);
	@include sizer(200px, 320px, 40px);
	z-index: 2;
}

.slide-0 {
	-webkit-transform: translateX(-200%);
	-ms-transform: translateX(-200%);
	transform: translateX(-200%);
	@include sizer(175px, 280px, 60px);
	z-index: 1;
}

.slider>img:hover {
	top: 0;
	z-index: 10;
}




.slider-btn {
	width: 50px;
	height: 50px;
	border: 1px solid grey;
	border-radius: 50%;
	position: absolute;
	bottom: 300px;
	background: #fff;
	z-index: 10;
}

.slider-btn:hover {
	color: #fff;
	-webkit-box-shadow: 3px 3px 10px 0px black;
	box-shadow: 3px 3px 10px 0px black;
	background: #ff6633;
	background: $baseGradient;
}

.prev {
	left: 5%;
}

.next {
	right: 5%;
}

.fas {
	font-size: 20px;
	vertical-align: middle;
}

.screenshots-text_order {
	padding-bottom: 3rem;
}
@media screen and (max-width:900px) {
	.slider {
		overflow: hidden;
	}

}

@media screen and (max-width:700px) {
	.slider {
		height: 600px;
		&__btn {
			bottom: 250px;
		}
		&>img {
			-webkit-transform: translateX(0%);
			-ms-transform: translateX(0%);
			transform: translateX(0%);
			width: 60%;
			height: 70%;
			left: 0;
			top: 10%;
			margin: 0 20% 0 20%;
		}
		&>img:hover {
			top: 10%;
		}
	}
}